
/* definitions for the background */
body{
    background-color: #8781bd;
    background-repeat: no-repeat;
    height: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* A wrapper so you can ajust the page without the elements changing place */
.wrapper{
    position: relative;
    display: flex;
    width: 1325px;
    height: 768px;
    margin: auto;
    padding: 0;
    font-family: "Open Sans Condensed", sans-serif;
}

/* Login writing and login box in background */
.login{
    position: absolute;
    top: 15%;
    margin: 0;
    right: 20%;
    font-size: 15px;
    font-family: "Open Sans Condensed", sans-serif;
    opacity: 0.6;
    text-decoration: underline;
    z-index: 1;
}

.loginBox{
    position: absolute;
    top: 30px;
    right: 5%;
    border: 2px solid #F2F2E8;
    background-color: #F2F2E8;
    padding: 3px;
    margin: 8px;
    height: 30px;
    width: 133px;
    border-radius: 20px;
}

/* page logo */
.logo{
    position: absolute;
    top: 0px;
    width: 250px;
    height: 250px;
    left: 500px;
}

/* brackets on both sides of the buttons */
#bracketRight{
    width: 60px;
    height: 170px;
    top: 325px;
    position: relative;
    left: 950px;
    opacity: 0.5; 
}

#bracketLeft{
    width: 60px;
    height: 170px;
    top: 325px;
    position: relative;
    left: 190px;
    opacity: 0.5;
    transform: rotate(180deg);
}

/* new project and your project buttons */
.btn{
    align-content: center;
    width: 300px;
    height: 100px;
    top: 350px;
    left: 190px;
    opacity: 0.6;
    border: 1px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 20px;
    background: none;
    font-family: "Open Sans Condensed", sans-serif;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* before and hover effects when you hover both buttons */
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #F2F2E8;
    transition: 1s;
    top: 0;
    border-radius: 50% 50% 0 0;
    z-index: -1;
}

#newProjectBtn::before, #projectBtn::before{
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}

#newProjectBtn:hover::before, #projectBtn:hover::before{
    height: 0%;
}

/* floating circles to the background. including animations */
#circleContainer{
    position: absolute;
    top: 0;
    width:100vw;
    height: 70vw;
    overflow: hidden;
    z-index: -10;
}

.movingCircle{
    position: absolute;
    border-radius: 50%; 
    background-color: #5046aa;  
}

#movingCircle1{
    width: 200px; 
    height: 200px; 
    left: -510px; 
    animation-name: circleLeftToRight1;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#movingCircle2{
    width: 300px; 
    height: 300px; 
    right: 1450px; 
    animation-name: circleRightToLeft1;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#movingCircle3{
    width: 200px; 
    height: 200px; 
    left: -500px; 
    animation-name: circleRightToLeft1;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#movingCircle4{
    width: 250px; 
    height: 250px; 
    left: -700px; 
    animation-name: circleLeftToRight1;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#movingCircle5{
    width: 150px; 
    height: 150px; 
    right: -700px; 
    animation-name: circleRightToLeft2;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#movingCircle6{
    width: 300px; 
    height: 300px; 
    right: -300px; 
    animation-name: circleRightToLeft2;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#movingCircle7{
    width: 240px; 
    height: 240px; 
    right: -300px; 
    animation-name: circleRightToLeft2;
    animation-duration: 110s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes circleLeftToRight1{
    0%{
        left: -400px;
        top: 100px; 
    }100%{
        left: 110%;
        top: 500px; 
    }
}

@keyframes circleRightToLeft1{
    0%{
        right: -400px;
        top: -100px; 
    }100%{
        right: 110%;
        top: 500px; 
    }
}

@keyframes circleRightToLeft2{
    0%{
        right: -400px;
        bottom: -300px;
    }100%{
        right: 110%;
        bottom: 1000px; 
    }
}






















